APP_NAME=GoWebBlog
APP_ENV=local
APP_KEY=33446a9dcf9ea060a0a6532b166da32f304af0de
APP_DEBUG=true
APP_URL=http://localhost:3009
APP_LOG_LEVEL=debug
APP_PORT=3009

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_DATABASE=go-web-blog
DB_USERNAME=root
DB_PASSWORD=123456

SESSION_DRIVER=cookie
SESSION_NAME=go-web-blog-session
